/* CSS Document */

body {
	margin: 0;
	text-align: left;
	font-family: "Roboto", "Poppins", "Montserrat"
}
.main-text { 
	font-family: Roboto;
    font-size: 1.125rem;
}
.author-text { 
	font-family: Poppins;
    color: #393e46;
    font-size: 1.5rem;	
}
.top-container {
	background-color: #e4fpf5;
	position: relative;
	padding-top: 150px;
	text-align: center;
}
.profile-container {
	background-color: #fff;
	text-align: center;
}
.middle-container {
	baclground-color: green;
	margin: 100px 0;
}
.bottom-container {
    background-colr: blue;
	margin: 50px 0;
}
.blog-container {
	width: 1140px;
	margin: 20px auto 0 auto;
}
.data-container {
	background-color: #e4fpf5;
	position: relative;
	padding-top: 150px;
	text-align: center;
}

.container-fluid{
	padding: 7% 15%;}
.colored-section {
  background-color: #99E5FF;
  color: black;
}
* {
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Karla', sans-serif;
	font-size: 16px;
	background-color: white;
	height: 100vh;
}

.main {
	padding: 2rem 1rem;
}

.col_one,
.col_two,
.col_three {
	display: flex;
	flex-direction: column;
}

/*==================================
COMMUNITY SECTION
==================================*/

  .community-copy,
  .monthly-copy,
.why-copy {
	padding: 30px;
}

.community-copy {
	background-color:#49D0FF;
	border-radius: 8px 8px 0 0;
}

.community-copy h1 {
	font-size: 1.5rem;
	color: black;
}

.community-copy h2 {
	font-size: 1.1rem;
	color: black;
}

.community-copy p {
	font-size: 1 rem;
	color: black;
}

/*==================================
Monthly Subscription Section
==================================*/

.monthly-copy {
	background-color: #99E5FF;
	color: black;
}

.monthly-copy h2,
.why-copy h2 {
	font-weight: 300;
	font-size: 1.2rem;
}

.monthly copy p {
	margin: 15px 0;
	font-weight: 300;
}

.monthly-copy span {
	font-size: 2rem;
	margin-right: 10px;
	font-weight: 700;
}

.monthly-copy a{
	display: block;
	margin-top: 25px;
	background-color: hsl(71, 73%, 54%);
	color: #fff;
	width: 100%;
	padding: 15px 0;
	text-align: center;
	text-decoration: none;
	border-radius: 4px;
	box-shadow: 0px 5px 12px rgba(0,0,0,0.3);
}

/*==================================
Why Section
==================================*/

.why-copy {
	background-color: #99E5FF;
	color: black;
	border-radius: 0 0 8px 0;
}

.why-copy h2 {
	margin-bottom: 15px;
}

.why-copy li {
	list-style: none;
	padding: 5px 0;
	font-weight: 300;
}

footer {
	padding: 1rem;
}

footer p {
	font-size: 0.8rem;
	color: #000;
}

footer span {
	color: black;
}
@media only screen and (min-width: 768px) {

	.main {
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0;
	}
	
	.container {
		max-width: 800px;
		align-items: center;
	}
	
	.community-copy {
		padding: 3rem;
	}
	
	.community-copy p {
		width: 76%
	}
	
	.monthly-copy,
	.why-copy {
		padding: 3rem 2rem 2rem 3rem;-
	}
	
	.col_two,
	.col_three {
		flex-basis: 50%;
	}
	
	.monthly-copy {
		border-radius: 0 0 0 8px;
	}
	
	.flex-pair {
		display: flex;
		flex-direction: row;
	}
}